<div id="wrapper">
    <div id="cartaWrapper">
        <img id="cardBg" class="carta" src="../../../assets/img/cardBg.svg" alt="" inline>
        <img id="cardPalo" class="carta" src="../../../assets/img/{{paloActual}}.svg" alt="">
        <p id="number">{{numeroActual}}</p>
    </div>


    <h3>Carta Anterior: </h3>
    <br>

    <div id="cartaAnteriorWrapper" *ngIf="numeroAnterior">
        <img id="cardBgAnterior" class="cartaAnterior" src="../../../assets/img/cardBg.svg" alt="" inline>
        <img id="cardPaloAnterior" class="cartaAnterior" src="../../../assets/img/{{paloAnterior}}.svg" alt="">
        <p id="numberAnterior">{{numeroAnterior}}</p>
    </div>
    <br><br>
    <div>
        <button class="btn btn-lg btn-danger" (click)=elegirProximaCarta() (click)=elegirValor(1)>Mayor</button>
        <button class="btn btn-lg btn-success" (click)=elegirProximaCarta()
            (click)=elegirValor(0)>Menor</button><br><br>
    </div>
    <h2>Contador victorias: {{contadorVictorias}}</h2>
</div>