@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700;900&family=Vollkorn:wght@400;500;700;900&display=swap');

*{
    text-align: center; 
}



body{
    background-color: #FFFAFF;
    font-family: "Raleway";
}

#navBar{
    width: 150px;
    background-color:#2E1284;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Vollkorn";
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
}

.navItem{
    padding: 15px 0;
    color: #FFFAFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px rgba(251, 241, 231, 0.5) ;
    width: 100%;
}

.navItem:hover{
opacity: 0.5;
}

.navIcon{
    width: 35px;
    height: auto;
    fill: azure;
}

#mainSection{
    position: absolute;
    left: 7%;
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Vollkorn";
    font-weight: 700;
    font-size: 40px;
    color:#2E1284;
}

#logout{
    color: red;
    cursor: pointer;
}