

<div *ngIf="loggedUser">
    <div class="container-chat">
      <div class="chat-container">
        <div
          *ngFor="let chat of chatService.chats"
          [ngClass]="{'derecha': chat.name == loggedUser.email}"
          class="chatBubble"
        >
          <div>
            <img class="image-chat-user" [src]="chat.image" alt="img profile" />
            <span class="name-chat-user">
              {{ chat.name }}
            </span><span class="message-user">  {{ chat.dateString }}</span>
          </div>
          <p class="message-user">{{ chat.message }}</p>
        </div>
      </div>
  
      <div class="container-send-message" appearance="fill">
        <div>Escribe un mensaje...</div>
        <input
          matInput
          type="text"
          name="message"
          [(ngModel)]="message"
          (keyup.enter)="sendMessage()"
          placeholder="Aa"
        />
  
        <button mat-button matSuffix mat-icon-button (click)="sendMessage()">
          <div>send</div>
        </button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="!loggedUser">
    <p>Sorry you need to be logged in to use our chat room</p>
</div>