<nav id="navBar">
    <a class="navItem" routerLink="/"><img class="navIcon" src="../assets/img/home.svg" alt="">Home</a>
    <a class="navItem" routerLink="/login"><img class="navIcon" src="../assets/img/user.svg" alt="">Login</a>
    <a class="navItem" routerLink="/quien-soy"><img class="navIcon" src="../assets/img/eye.svg" alt="">Quien soy</a>
    <a class="navItem" routerLink="/ej1">Ejercicio 1</a>
    <a class="navItem" routerLink="/error">Ejercicio 2</a>
</nav>
<section id="mainSection">
    <header>
        <h1>Mi Aplicacion</h1>
        <router-outlet></router-outlet>
    </header>
</section>
