<!-- <nav id="navBar">
    <a class="navItem" routerLink="/home">Home</a>
    <a class="navItem" routerLink="/login">Login/Signup</a>
    <a class="navItem" routerLink="/quien-soy">Quien soy</a>
    <a class="navItem" routerLink="/ej1">Ejercicio 1</a>
    <a class="navItem" routerLink="/error">Ejercicio 2</a>
</nav> -->
<!-- <app-menu-principal></app-menu-principal> -->

<app-nav-bar></app-nav-bar>
<app-error-message></app-error-message>
<app-success-message></app-success-message>
<router-outlet></router-outlet>

