@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
	background: url('http://www.writteninpencil.de/Projekte/Hangman/hangman-bg.png') fixed;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

#ratefeld {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 2.0em;
}

h1 {
	font-family: 'Permanent Marker', 'cursive';
}

#wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

#principalForm{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn{
	margin: 0 2px;
}

#hangman{
	width: 70px;
	height: auto;
}

.vida{
	width: 40px;
	height: auto;
	margin: 5px;
}

.message{
	font-weight: bold;
	font-size: 25px;
	color: #1f2833;
}

.dead{
	width: 70px;
	height: auto;
}